<html lang="zxx" class="no-js"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" th:href="@{/img/fav.png}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- Meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>
	<!--
            CSS
            ============================================= -->
	<link rel="stylesheet" th:href="@{/css/linearicons.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/themify-icons.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
	<link rel="stylesheet" th:href="@{/css/nice-select.css}">
	<link rel="stylesheet" th:href="@{/css/nouislider.min.css}">
	<link rel="stylesheet" th:href="@{/css/ion.rangeSlider.css}">
	<link rel="stylesheet" th:href="@{/css/ion.rangeSlider.skinFlat.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>

<section layout:fragment="content">

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Đặt hàng thành công</h1>
					<nav class="d-flex align-items-center">
						<a th:href="@{/home}">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Xác nhận</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<h3 class="title_confirmation"  th:text="${message}"></h3>
			<div class="row order_d_inner">
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Thông tin đơn hàng</h4>
						<ul class="list">
							<li><strong>Mã đơn hàng:</strong> <span th:text="${order.id}"></span></li>
							<li><strong>Thời gian đặt hàng:</strong> <span th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy HH:mm:ss')}"></span></li>
							<li><strong>Giao hàng dự kiến:</strong> <span th:text="${#dates.format(order.estimatedDeliveryDate, 'dd/MM/yyyy')}"></span></li>
							<li><strong>Tổng tiền:</strong> <span th:text="${#numbers.formatDecimal(order.getTotalAmount() + + 30000, 0, 0)} + ' VND'"></span></li>
							<li><strong>Phương thức thanh toán:</strong> <span th:text="${order.paymentMethod}"></span></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="details_item">
						<h4>Thông tin người đặt: </h4>
						<ul class="list">
							<li><strong>Tên: </strong> <span th:text="${order.customerName}"></span></li>
							<li><strong>Số điện thoại: </strong> <span th:text="${order.phone}"></span></li>
							<li><strong>Địa chỉ: </strong> <span th:text="${order.address}"></span></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="details_item">
						<h4>Ghi chú:</h4>
						<ul class="list">
							<li><strong>Nội dung: </strong> <span th:text="${order.note}"></span></li>
							<li><strong>Trạng thái đơn hàng: </strong> <span class="order-status" th:style="'background-color: ' + ${order.getStatusColor()}" th:text="${order.getStatusInVietnamese()}"></span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="order_details_table">
				<h2>Chi tiết đơn hàng</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
						<tr>
							<th scope="col">Tên sản phẩm</th>
							<th scope="col">Kích cỡ</th>
							<th scope="col">Số lượng</th>
							<th scope="col">Giá sản phẩm</th>
							<th scope="col">Tổng tiền</th>

						</tr>
						</thead>
						<tbody>
						<tr th:each="detail : ${order.orderDetails}">

							<td>
								<h5 th:text="${detail.product.name}"></h5>
							</td>
							<td>
								<h5 th:text="${detail.size.name}"></h5>
							</td>
							<td>
								<h5 th:text="${detail.quantity}"></h5>
							</td>
							<td>
								<h5 th:text="${#numbers.formatDecimal(detail.product.price, 0, 0)}  + ' VND'"></h5>
							</td>

							<td>
								<h5 th:text="${#numbers.formatDecimal(detail.product.price * detail.quantity, 0, 0 )} + ' VND'"></h5>
							</td>
						</tr>
						<tr>
							<td>
								<h4>Thành tiền:</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<h5 th:text="${#numbers.formatDecimal(order.getTotalAmount(), 0, 0)} + ' VND'"></h5>
							</td>
						</tr>
						<tr>
							<td>
								<h4>Phí Ship: </h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<h5>30.000 VND</h5>
							</td>
						</tr>
						<tr>
							<td>
								<h4>Tổng cộng: </h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<h5 th:text="${#numbers.formatDecimal(order.getTotalAmount() + + 30000, 0, 0)} + ' VND'"></h5>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<!--================End Order Details Area =================-->

	<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery.sticky.js}"></script>
	<script th:src="@{/js/nouislider.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<!-- gmaps Js -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script th:src="@{/js/gmaps.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</section>
</body>

</html>