<!DOCTYPE html>
<html lang="zxx" class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" sizes="32x32" th:href="@{img/icon/icon1.png} ">
  <!-- Author Meta -->
  <meta name="author" content="CodePixar">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>Cửa hàng FANFOOTBALL</title>
  <!--
      CSS
      ============================================= -->
  <link rel="stylesheet" href="css/search.css">
  <link rel="stylesheet" href="css/linearicons.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/themify-icons.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/nice-select.css">
  <link rel="stylesheet" href="css/nouislider.min.css">
  <link rel="stylesheet" href="css/ion.rangeSlider.css" />
  <link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css" />
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>

<section layout:fragment="content">
  <!-- Start Banner Area -->
  <section class="banner-area organic-breadcrumb">
    <div class="container">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h1>Tìm kiếm sản phẩm</h1>
          <nav class="d-flex align-items-center">
            <a th:href="@{/home}">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
            <a href="#">Tìm kiếm</a>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Banner Area -->
  <h1>Kết quả tìm kiếm cho: <span th:text="${query}"></span></h1>
  <div class="search-stats">
    <span th:text="${results.content.size()} + ' sản phẩm tìm thấy'">0 sản phẩm tìm thấy</span>
  </div>
  <div class="container">
    <div class="row">
      <div th:each="product : ${results.content}" class="col-md-2 product-item">
        <a th:href="@{/detail/{id}(id=${product.id})}" class="product-item">
        <img th:src="${product.imgUrl}">
        <div class="product-name" th:text="${product.name}"></div>
        <div class="product-price" th:text="${product.price} + ' VND'"></div>
        </a>
      </div>
    </div>
  </div>
</section>
</body>
</html>