<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gợi ý Sản phẩm</title>
    <link rel="stylesheet" href="css/search.css">
</head>
<body>
<th:block th:each="product : ${suggestions.content}">
    <div class="suggestion-item">
        <a th:href="@{/detail/{id}(id=${product.id})}" class="suggestion-link">
            <img th:src="${product.imgUrl}"  class="suggestion-image">
            <div class="suggestion-details">
                <span th:text="${product.name}" class="suggestion-name">Tên sản phẩm</span>
                <span th:text="${product.price} + ' VND'" class="suggestion-price">Giá</span>
            </div>
        </a>
    </div>
</th:block>
</body>
</html>